PORT="El puerto que vas a usar"
MONGODB_URI="Tu connection string"
JWT_SECRET="Tu clave secreta"
CLOUDINARY_CLOUD_NAME="Tu cloud name"
CLOUDINARY_API_KEY="Tu api key"
CLOUDINARY_API_SECRET="Tu api secret"